/*navigasi*/
#nav-bar{
    top: 0;
    z-index: 10;
  }
.navbar{
  background-image: linear-gradient(to left, #0499f2 0%, #26f596 74%);  
}

.navbar-brand{
  padding-left: 190px;
  font-size: 40px;
  color: #fff !important;
}
.navbar-nav li{
  padding: 0 15px;
}
.navbar-nav li a{
  color: #fff !important;
  font-weight: 500;
}

.fa-bars{
  color: #fff;
  font-size: 25px !important;
}
.navbar-toggler{
  outline: none !important;
}

/*banner-section*/
#banner{
  background-image: linear-gradient(to left, #0499f2 0%, #26f596 74%);
  color: #fff;
  padding-top: 4%;
}
.promo-web{
  font-size: 70px;
  margin-top: 100px;
  font-family: 'Cabin', sans-serif;
}
.isipromo{
  font-size: 15px;
}

.bottom-img{
  width: 100%;
}

.btn-banner{
  width: 35%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 20px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f,#38d39f,#32be8f);
  cursor: pointer;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-size: 200%;
}

.title{
  font-size: 35px;
  font-weight: bold;
}

/*services*/
#service{
  padding: 80px 0;
}
.service-img
{
  width: 350px;
  margin-top: 10px;
}
.services{
  padding: 20px;
  font-family: 'Cabin', sans-serif;
}

.services h4{
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}
.title::after{
  content: '';
  background-image: linear-gradient(to right, #32be8f,#38d39f,#32be8f);
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

/*testimoni*/
.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
  font-family: 'Cabin', sans-serif;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

/*footer*/
/*---footer---*/

#footer{
  background-image: linear-gradient(to left, #0499f2 0%, #26f596 74%);
  color: #fff;
}

.footer-img{
  width: 100%;
}

.footer-box img{
  width: 120px;
  margin-bottom: 20px;
}
.footer-box{
  padding: 20px;
  text-align: center;
}
.footer-box .fa{
  margin-right: 8px;
  font-size: 20px;
  height: 30px;
  width: 30px;
  text-align: center;
  padding-top: 7px;
}
.footer-box .form-control{
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 400px;
}
.footer-box .btn-primary{
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 30px;
  background-image: linear-gradient(to left, #0499f2 0%, #26f596 74%);
}

.copyright{
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;

}

.body_auth{
  background-color:#26f596;
}
.btn_login{
  padding: 10px 250px;
  cursor: pointer;
  background-color: #26f596;
  border-radius: 6px;
}
.btn_login:hover {background-color: #2fc47e}

.btn_login:active {
  background-color: #2fc47e;
  transform: translateY(4px);
}
.btn_register{
  padding: 4px 202px;
  cursor: pointer;
  font-size: 15px;
  background-color: #26f596;
  border-radius: 6px;
}
.btn_register:hover {background-color: #2fc47e}

.btn_register:active {
  background-color: #2fc47e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.acc_link{
  color: #2fc47e;
  font-size: small;
}
.acc_link:hover{
  color: #2fc47e;
}
.acc_link:active{
  color: #2fc47e;
}
.pass_link{
  color: #2fc47e;
  font-size: small;
}
.pass_link:hover{
  color: #2fc47e;
}
.pass_link:active{
  color: #2fc47e;
}
.reg_link{
  color: #2fc47e;
  font-size: small;
}
.reg_link:hover{
  color: #2fc47e;
}
.reg_link:active{
  color: #2fc47e;
}
