/*navigasi*/
#nav-bar{
    top: 0;
    z-index: 10;
  }
.navbar{
  background-image: linear-gradient(to left, #abe9cd 0%, #3eadcf 74%);    
}

.navbar-brand{
  padding-left: 190px;
  font-size: 25px;
  color: #fff !important;
}
.navbar-nav li{
  padding: 0 15px;
}
.navbar-nav li a{
  color: #fff !important;
  font-weight: 700;
  font-size: 18px;
}

.fa-bars{
  color: #fff;
  font-size: 25px !important;
}
.navbar-toggler{
  outline: none !important;
}

/*banner-section*/
#banner{
  background-image: linear-gradient(to left, #abe9cd 0%, #3eadcf 74%);  
  color: #fff;
  padding-top: 4%;
}
.promo-web{
  font-size: 70px;
  margin-top: 100px;
  font-family: 'Cabin', sans-serif;
}
.banner-img{
  width: 300px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.bottom-img{
  width: 100%;
}

.btn-banner{
  width: 35%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 20px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f,#38d39f,#32be8f);
  cursor: pointer;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-size: 200%;
}

.title{
  font-size: 35px;
  font-weight: bold;
}

/*services*/
#service{
  padding: 80px 0;
}
.service-img
{
  width: 350px;
  margin-top: 10px;
}
.services{
  padding: 20px;
  font-family: 'Cabin', sans-serif;
}

.services h4{
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
  color:#46B2CF;
}
.title{
  color:#46B2CF;
}
.title::after{
  content: '';
  background:#A5E6CD;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*testimoni*/
.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
  font-family: 'Cabin', sans-serif;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

/*products*/
.product-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 50px;
  font-family: 'Raleway', sans-serif;
  height: 400px;
  border-radius: 15px;
  width: 100%;
}

.gambarproduct{
  max-width: 200px;
}
.judulproduct{
  font-size: 40px;
  color: #46B2CF;
}
/*footer*/
/*---footer---*/

#footer{
  background-image: linear-gradient(to left, #abe9cd 0%, #3eadcf 74%);  
  color: #fff;
}

.footer-img{
  width: 100%;
}

.img-footerbox{
  width: 140px;
  margin-bottom: 10px;
}
.footer-box{
  padding: 20px;
  text-align: center;
}
.footer-box .fa{
  margin-right: 8px;
  font-size: 20px;
  height: 30px;
  width: 30px;
  text-align: center;
  padding-top: 7px;
}
.footer-box .form-control{
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 400px;
}
.footer-box .btn-primary{
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 30px;
  background-image: linear-gradient(to right, #32be8f,#38d39f,#32be8f);
}

.copyright{
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}
.about-banner{
  width: 500px;
}
.isibanneruser{
  font-size: 50px;
  padding-top: 20px;
  font-family: 'Josefin Sans', sans-serif;
}
.card{
  width: 800px;
  font-family: 'Raleway', sans-serif;
  line-height: 2;
  border-radius: 25px;
  box-shadow: 0 20px 50px #46B2CF;
  margin-bottom: 35px;
}
.img-logoabout{
  width: 100%;
  margin-bottom: 5px;
}
.card .fas , .card .fab{
  font-size: 180px;
  color: #46B2CF;
}
.img-logobanner{
  width: 500px;
}
.cards{
  width: 1000px;
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: 0 20px 30px #46B2CF;
}
.cards .fas{
  font-size: 50px;
  color: #46B2CF;
}
.imageiklan{
 width: 300px;
}
.juduliklan{
  color: #46B2CF;
}
.cardtable{
  box-shadow: 0 20px 30px #46B2CF;
}
.btnforform{
  height: 40px;
  cursor: pointer;
  background-color: #46B2CF;
  border-radius: 4px;
  width: 100%;
  color: #ffffff;
  margin-bottom: 10px;
}
.btnforform:hover {background-color: #A5E6CD}

.btnforform:active {
  background-color: #A5E6CD;
  transform: translateY(4px);
}
.editprofileimg{
  width: 480px;
}
.cardeditprofile{
  box-shadow: 0 20px 20px #46B2CF;
  width: 700px;
  margin-bottom: 30px;
  border: none;
}
.form-group{
  width: 400px;
}
.form-control{
  width: 400px;
  margin-bottom: 20px;
  padding: 5px; 
  border: none;
  border-bottom: 3px solid  #46b2cf;
}
.juduledit{
  font-size: 35px;
  color: #46B2CF;
}
.btn_edit{
  height: 40px;
  cursor: pointer;
  background-color: #46B2CF;
  border-radius: 4px;
  width: 100%;
  color: #ffffff;
}
.btn_edit:hover {background-color: #A5E6CD}

.btn_edit:active {
  background-color: #A5E6CD;
  transform: translateY(4px);
}